<a href="https://colab.research.google.com/github/yashvidk026/Missing-Values/blob/main/MISSING_DATA_SET_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#finding missing values in DataFrame
#importing pandas as numpy
import pandas as pd
import numpy as np

In [ ]:
#sample DataFrame with missing values
d={'first score':[100,90,np.nan,95],
   'second score':[30,45,56,np.nan],
   'third score':[np.nan,40,80,98]}
df=pd.DataFrame(d)
df

In [ ]:
#cheking for missing values in isnull
mn=df.isnull()

In [ ]:
print(mn)

In [ ]:
mn=df.isnull().sum()
print(mn)

In [ ]:
#filling missing values with 0
df1=df.fillna(0)

In [ ]:
df1

In [ ]:
#filling missing values with the prew/next value using fillna
#use the pad method to fill missing values with the previous value or bfill to fill with the next val
df.fillna(method='pad')#forward fill

In [ ]:
df.fillna(method='bfill')#backward fill

In [ ]:
#interpolat()function fills missing values using interpolation techniques,such as the linear method
import pandas as pd

#creating the dataframe
df=pd.DataFrame({"A":[12,4,5,None,1],
                 "B":[None,2,54,3,None],
                 "C":[20,16,11,3,8],
                 "D":[14,3,None,2,6]})
#print the dataframe
print(df)

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(method='pad')#forward fill

In [ ]:
df.fillna(method='bfill')#backward fill

In [ ]:
df.fillna(df.mean())

In [ ]:
#to interplate the missing values
df.interpolate(method='linear',limit_direction='forward')

In [ ]:
#Dropping row with least one Null value
import pandas as pd
import numpy as np
dict={'First Score':[100,90,np.nan,95],
      'Second Score':[30,np.nan,45,56],
      'Third Score':[52,40,80,98],
      'Fourth Score':[np.nan,np.nan,np.nan,65]}
df=pd.DataFrame(dict)
#dict rows with at least one missing value
df.dropna()

In [ ]:
#To remove columns that contain at least one missing value,use dropna(axis=1).
dict={'Fisrt Score':[100,np.nan,np.nan,95],
      'Second Score':[30,np.nan,45,56],
      'Third Score':[52,np.nan,80,98],
      'Fourth Score':[60,67,68,65]}
df=pd.DataFrame(dict)
df.dropna(axis=1)